<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCDSimulServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CCDSimulServer.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value>C:\\Users\\jmo\\Dropbox\\Polarimetry\\Target1\\</value>
            </setting>
            <setting name="ClientSavePath" serializeAs="String">
                <value>C:\\Users\\jmoore\\Dropbox\\Polarimetry\\Target1\\</value>
            </setting>
            <setting name="MaximPath" serializeAs="String">
                <value>C:\\Program Files (x86)\\Diffraction Limited\\MaIm DL V5\\MaxIm_DL.exe</value>
            </setting>
        </CCDSimulServer.Properties.Settings>
    </userSettings>
</configuration>